# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config

# The secret used to sign cookies
COOKIE_SECRET='cookie_secret'

# Connection string to MySQL database
DATABASE_URL='mysql://root@127.0.0.1:5454/budgetsco'

# Firebase admin key. Follow instructions here to generate this: 
# https://firebase.google.com/docs/admin/setup#initialize_the_sdk_in_non-google_environments
FIREBASE_ADMIN_KEY='{ "type": "service_account", "project_id": "...}'

# API key for Google Play Billing
GPLAY_API_KEY='{"type":"service_account","project_id":"...}'

# 16 byte secret key used to encrypt 2FA secret in database
MFA_KEY='mfa_secret_key'

# New relic app name
NEW_RELIC_APP_NAME='app_name'

# New relic license key
NEW_RELIC_LICENSE_KEY='license_key'

# Stripe secret
STRIPE_KEY_SECRET='stripe_secret'

# Stripe webhook secret
STRIPE_WEBHOOK_SECRET='stripe_webhook_secret'

# Cloudflare Turnstile secret key 
TURNSTILE_SECRET_KEY='turnstile_secret_key'

# Mixpanel project token
MIXPANEL_TOKEN='mixpanel_project_token'